<!DOCTYPE html>
<html>
    <head>
        <title> Facial Expression Recognition </title>
    </head>
    <style type="text/css">
	
	body{background-color:black;color:yellow}
		h1 {color:cyan;font-family:Bradley Hand ITC;text-align:center;border-color:red;border-width:3px;border-style:dashed}
</style>		
    <body>
    <h1>Facial Expression Recognition <br><br>
        <div><img id='bg' width=800px height=640px 
        src="{{ url_for('video_feed') }}"
        style="margin-left:550"></div>
    </body>
</html>
